{{ define "Index" }}

{{ template "_head" }}

<body>

{{ template "_menu" }}

<div class="container">
    <section class="card">
        <div>
            <table class="table table-striped table-hover mb-0">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {{ range . }}
                        <tr>
                            <td>{{.Name}}</td>
                            <td>{{.Description}}</td>
                            <td>{{.Price}}</td>
                            <td>{{.Quantity}}</td>
                            <td>
                                <a onclick="onDelete('{{ .Id }}')" class="btn btn-danger">Delete</a>
                            </td>
                        </tr>
                    {{end}}
                </tbody>
            </table>
        </div>
    </section>

    <br/>
    <footer>
        <a class="btn btn-primary" href="/new">Criar novo produto</a>
    </footer>
</div>
</body>


<script>
    function onDelete(id) {
        let resposta = confirm("Tem certeza que deseja deletar esse produto?")
        if (resposta) {
            window.location = "/delete?productId=" + id
        }
    }
</script>

</html>
{{end}}